.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #e8b723;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: rgb(5, 0, 0);
}
 
@media screen and (max-width: 640px) {
	.main-content{width: 100%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
	 
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.login-container .row > h2{
	color:#008080;
}
.login-container .login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
.login-container form{
	padding: 0;
}
.login-container .form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.login-container .form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.login-container .btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.login-container .btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}

/* forgot Pass */
.forgot-pass-link{
    padding: 3px 6px;
	text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
    transition: 0.3s;
    border-radius: 12px;
}

.forgot-pass-link:hover{
    background: rgba(10, 102, 195, 0.3);
	text-decoration: none;
}

.logo_image {
	max-width: 170px;
}
.fa-hand-point-down path {
	fill:#f60;
	font-size: 13px;
}
.login_form div form label {
	display: table;
	font-weight: 600;
}
 
.sign_viewPage_container {
	background-image: url('../../../public/assets/web/images/classes-bg.jpg');
	padding-top: 1px;
	padding-bottom: 1px;
}